*{
    outline: none;
    font-weight: 550;
}
body{
    background-color: rgba(66, 102, 219, 0.493);
    text-align: center;
    transition: all 1s;
    -webkit-print-color-adjust: exact !important;
}
#main{
    /* background-color: thistle; */
    background-image: url(img/8.png);
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    border: 1px solid;
    box-shadow: 10px 0px 30px black;
    width: 595px;
    height: 345px;
    border-radius: 20px;
    min-height: 250px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;

}
.inps{
    text-align: center;
    margin: 8px;
    /* border: 2px solid; */
    width: auto;
    display: inline-block;
    text-transform: uppercase;
}
input{
    font-size: 18px;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    background-color:rgb(226, 215, 226);
    border: none;
    /* border-radius: 20px; */
}
input:hover{
    background-color:rgb(235, 226, 235);
}
select{
    border: none;
    /* border-radius: 20px; */
    outline: none;
}
button{
    position: absolute;
    bottom: 20px;
    left: 44%;
    box-shadow:0px 1px 5px black;
    border:none;
    border-radius: 10px;

    background-color: rgb(98, 100, 221);
    color: white;
}
button:hover{
    background-color: rgb(240, 231, 240);
    color: black;
}
#print{
    display: none;
}
#inp1{
    position: absolute;
    top: 184px;
    left: 110px;
    background-color: transparent;
    text-align: left;
}
#inp1:hover {
    background-color: rgba(130, 130, 202, 0.274);
}
#out1{
    position: absolute;
    top: 118px;
    left: 110px;
    background-color: transparent;
    text-align: left;
    cursor: default;
    color: rgb(42, 118, 190);
}
#inp2{
    position: absolute;
    top: 153px;
    left: 110px;
    background-color: transparent;
    text-align: left;
}
#inp2:hover{
    background-color: rgba(130, 130, 202, 0.274);
}
#inp3{
    position: absolute;
    top: 220px;
    left: 110px;
    background-color: transparent;
    text-align: left;
}
#inp3:hover{
    background-color: rgba(130, 130, 202, 0.274);
}
#inp4{
    font-size: 16px;
    position: absolute;
    top: 260px;
    left: 110px;
    background-color: transparent;
    text-align: left;
    width: 25px;
}
#inp4:hover{
    background-color: rgba(130, 130, 202, 0.274);
}
#sex1{
    font-size: 16px;
    position: absolute;
    top: 186px;
    left: 500px;
    background-color: transparent;
    text-align: left;
    
}
#sex1:hover{
    background-color: rgba(130, 130, 202, 0.274);
}